body {
    text-align: center;
    background-color: deeppink;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{
   background-color:
       coral;
}

#contact_1{
    background-color: cornflowerblue;
}
#contact_1 h3
{
    display: inline;
}
#contact_1 a
{
    color: orange;
    text-shadow: none;
}

.line {
    height: 6px;
    background-color: #939;
    width: 70px;
    margin: 8px auto;
}
